/*
Adapted from https://github.com/arcuri82/testing_security_development_enterprise_systems/blob/master/intro/exercise-solutions/quiz-game/part-11/frontend/src/main/resources/META-INF/resources/assets/style.css
*/

html, body{
    margin: 0;
    background-color: rgb(243, 239, 231);
    color: rgb(71, 53, 25);
    text-align: center;
    font-size: 1.2em;
    position: relative;
}

a:visited{
    color: rgb(71, 53, 25);
}

.btn{
    border: 2px solid rgb(30,30,30);
    border-radius: 5px;
    background-color: rgb(207, 205, 200);
    color: rgb(71, 53, 25);
    margin: 5px;
    padding: 3px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}


.inputField{
    height: 30px;
    margin: 5px;
    font-size: 1em;
}

#reviewInputField{
    height: 100px;
}

.movie-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 50%;
    align-items: center;

}

.movie{
    border: black 1px solid;
    margin: 5px;
}

.review-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 35%;
    align-items: center;

}

.review{
    border: black 1px solid;
    margin: 5px;
}

#selectRating{
    width: 100px;
    font-size: 18px;
    margin: auto;
    border-style: groove;
}
